.titleSection{
  text-align: center;
   padding: 20px;
  color: var(--primary-primary);
font-family: Jost-Medium;
font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: 58px;
}
.table{
  text-align: center;
  color: var(--primary-primary);
font-family: Jost-Regular;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
